@import '../../sass/vars';

.navBarItem {
  .link {
    color: $white;
    text-decoration: underline;

    &:visited {
      color: inherit;
    }

    &:hover {
      color: $light-blue;
    }
  }
}
