@import '../../sass/vars';

.codeWrapper {
  flex-basis: 50%;
}

.code {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10px 5px 0 10px;
  border: 2px outset rgb(128, 128, 128);
  overflow-y: scroll;
  background: $white;
  color: $black;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  resize: none;
}
