.code {
  display: block;
  padding: 5px;
  border: 2px outset rgb(128, 128, 128);
  background: rgb(180, 180, 180);
  color: black;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
