.codeWrapper {
  display: block;
}

.code {
  display: inline-block;
  min-width: 300px;
  max-width: 100%;
  padding: 14px 5px 0 10px;
  border: 2px outset rgb(128, 128, 128);
  background: rgb(220, 220, 220);
  color: rgb(20, 20, 20);
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
